<%- include('Header.ejs'); %>
  <body id="body" class="d-flex flex-column min-vh-100" style="background-image: url('../Images/mathieu-chassara-0b3Nkg9oisc-unsplash.jpg');/* height: 100%; */background-size: cover;background-repeat: no-repeat;background-attachment: fixed;background-position-y: center;background-position-x: center;"></body>
    <%- include('Navegacion.ejs', {ventana:"CALENDARIO", tipo_usuario:tipo}); %>
    <div class="row align-items-center">
      <div class="col-1 text-center">
        <button class="btn botonesCalendario" id="mesAnterior"><i class="fas fa-arrow-left"></i></button>
      </div>
      <div class="card text-center mx-auto my-auto background col-10">
        <div class="card-body" style="padding: 0.5rem 0.5rem;">
          <div class="row justify-content-end">
            <div class="col-8">
              <h5 class="card-title" id="mesAnno">Abril 2021</h5>
            </div>
            <div class="col-2">
              <% if(tipo === "Instructor" || tipo === "Administrador"){ %>
              <button class="btn btn-primary activaModal" value="CREAR">Crear clase</button>
              <% } %>
            </div>
          </div>
          <div class="ps-4 pe-4 pt-2" id="calendarioCont">
            
          </div>
        </div>
      </div>
      <div class="col-1 text-center">
        <button class="btn botonesCalendario" id="mesSiguiente"><i class="fas fa-arrow-right"></i></button>
      </div>
    </div>
    <div class="modal fade" id="modalVerDia" tabindex="-1" aria-labelledby="verDiaModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content background">
          <div class="modal-body d-grid gap-4">
            <h3 class="text-center" id="verDiaModal">19 de abril 2021</h3>
            <div id="infoDia">

            </div>
            <div class="row justify-content-end">
              <div class="col-3">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if(tipo === "Administrador" || tipo === "Instructor"){ 
      let d = new Date();
      %>
    <div class="modal fade" id="modalClase" tabindex="-1" aria-labelledby="crearEditarModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content background">
          <div class="modal-body d-grid gap-4">
            <h3 class="text-center" id="crearEditarModal">Crear clase</h3>
            <form class="d-grid col-9 mx-auto gap-2 needs-validation" novalidate id="formClase">
              <div>
                <label for="dia" class="form-label">Día</label>
                <input type="date" class="form-control" id="dia" name="dia" aria-describedby="día" required>
                <div class="invalid-feedback">
                  El campo no puede estar vacío.
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <label for="horaInicio" class="form-label">Hora inicio</label>
                  <select name="horaInicio" id="horaInicio" class="form-control" aria-describedby="Hora Inicio" required>
                    <% for(let i = 1; i <= 23; i++) { %>
                      <% for(let j = 0; j < 59; j+=5) { %>
                        <% if(i > 12) { %>
                          <% if(j < 10) { %>
                            <option value="<%=i%>:<%=j%>"><%=i-12%>:0<%=j%>pm</option>
                          <% } else { %>
                            <option value="<%=i%>:<%=j%>"><%=i-12%>:<%=j%>pm</option>
                          <% } %>
                        <% } else { %>
                          <% if(i == 12) { %>
                            <% if(j < 10) { %>
                              <option value="<%=i%>:<%=j%>"><%=i%>:0<%=j%>md</option>
                            <% } else { %>
                              <option value="<%=i%>:<%=j%>"><%=i%>:<%=j%>md</option>
                            <% } %>
                          <% } else { %>
                            <% if(j < 10) { %>
                              <option value="<%=i%>:<%=j%>"><%=i%>:0<%=j%>am</option>
                            <% } else { %>
                              <option value="<%=i%>:<%=j%>"><%=i%>:<%=j%>am</option>
                            <% } %>
                          <% } %>
                        <% } %>    
                      <% } %>
                    <% } %>
                  </select>
                  <div class="invalid-feedback">
                    El campo no puede estar vacío.
                  </div>
                </div>
                <div class="col-6">
                  <label for="horaFinal" class="form-label">Hora final</label>
                  <select name="horaFinal" id="horaFinal" class="form-control" aria-describedby="Hora Final" required>
                    <% for(let i = 1; i <= 23; i++) { %>
                      <% for(let j = 0; j < 59; j+=5) { %>
                        <% if(i > 12) { %>
                          <% if(j < 10) { %>
                            <option value="<%=i%>:<%=j%>"><%=i-12%>:0<%=j%>pm</option>
                          <% } else { %>
                            <option value="<%=i%>:<%=j%>"><%=i-12%>:<%=j%>pm</option>
                          <% } %>
                        <% } else { %>
                          <% if(i == 12) { %>
                            <% if(j < 10) { %>
                              <option value="<%=i%>:<%=j%>"><%=i%>:0<%=j%>md</option>
                            <% } else { %>
                              <option value="<%=i%>:<%=j%>"><%=i%>:<%=j%>md</option>
                            <% } %>
                          <% } else { %>
                            <% if(j < 10) { %>
                              <option value="<%=i%>:<%=j%>"><%=i%>:0<%=j%>am</option>
                            <% } else { %>
                              <option value="<%=i%>:<%=j%>"><%=i%>:<%=j%>am</option>
                            <% } %>
                          <% } %>
                        <% } %>    
                      <% } %>
                    <% } %>
                  </select>
                  <div class="invalid-feedback">
                    El campo no puede estar vacío.
                  </div>
                </div>
              </div>
              <div class="form-check" id="checkAplicarTodas">
                <input class="form-check-input" type="checkbox" value="" name="aplicarTodas" id="aplicarTodas">
                <label class="form-check-label" for="aplicarTodas">
                  Aplicar horario a todas
                </label>
              </div>
              <div id="contRepeticion">
                <label for="repeticion" class="form-label">Repetición</label>
                <select name="repeticion" id="repeticion" class="form-control" aria-describedby="Repetición">
                  <option value="CADASEMANADELMES">Cada semana del mes</option>
                  <option value="TODOSLOSDIASDELMES">Todos los días del mes</option>
                  <option value="NOSEREPITE">No se repite</option>
                </select>
                <div class="invalid-feedback">
                  El campo no puede estar vacío.
                </div>
              </div>
              <div>
                <label for="capacidad" class="form-label">Capacidad</label>
                <input type="number" min="0" class="form-control" id="capacidad" name="capacidad" aria-describedby="Capacidad Clase" required>
                <div class="invalid-feedback">
                  El campo no puede estar vacío.
                </div>
              </div>
              <div>
                <label for="servicio" class="form-label">Servicio</label>
                <select name="servicio" id="servicio" class="form-control" aria-describedby="Servicio" required>
                </select>
                <div class="invalid-feedback">
                  El campo no puede estar vacío.
                </div>
              </div>
              <% if(tipo === "Administrador"){ %>
                <div>
                  <label for="estado" class="form-label">Estado</label>
                  <select name="estado" id="estado" class="form-control" aria-describedby="Estado" required>
                    <option value="" disabled selected hidden>Estado</option>
                    <option value="AGENDADA">Agendada</option>
                    <option value="PUBLICADA">Publicada</option>
                    <option value="DESHABILITADA">Deshabilitada</option>
                  </select>
                  <div class="invalid-feedback">
                    El campo no puede estar vacío.
                  </div>
                </div>
                <div>
                  <label for="instructor" class="form-label">Instructor</label>
                  <select name="instructor" id="instructor" class="form-control" aria-describedby="Instructor" required>
                  </select>
                  <div class="invalid-feedback">
                    El campo no puede estar vacío.
                  </div>
                </div>
                <div>
                  <label for="instructorTemporal" class="form-label">Instructor temporal</label>
                  <select name="instructorTemporal" id="instructorTemporal" class="form-control" aria-describedby="instructorTemporal">
                    <option value="" selected>Ninguno</option>
                  </select>
                </div>
                <% } %>
              <div class="row justify-content-end">
                <div class="col-3">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                </div>
                <div class="col-3">
                  <button type="submit" class="btn btn-primary" form="formClase">Enviar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% } %>
    <%- include('Mensaje.ejs'); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../Utilidades.js"></script>
    <script src="../Js/Mensaje.js"></script>
    <script src="../Sala.js"></script>
    <script src="../Calendario.js"></script>
    <script src="../Js/Calendario.js"></script>
    <script src="../Js/Navegacion.js"></script>
    <script src="../Js/Horas.js"></script>
    <script src="../Servicios.js"></script>
    <script src="../Instructores.js"></script>
    <script src="../Clase.js"></script>
  </body>
</html>