
<%- include('Header.ejs'); %>
<body id="body" class="d-flex flex-column min-vh-100" style="background-image: url('../Images/humphrey-muleba-dDp-6pXrYik-unsplash.jpg');/* height: 100%; */background-size: cover;background-repeat: no-repeat;background-attachment: fixed;background-position-y: center;background-position-x: center;"></body>
  <%- include('Navegacion.ejs', {ventana:"SALA", tipo_usuario:"Administrador", notificacion}); %>
  <div class="card mx-auto background cardLista mb-2">
    <div class="card-body" id="cardB">
      <div class="row justify-content-between">
        <div class="col-6">
          <h1 class="card-title tituloLista">Sala</h1>
        </div>
        <div class="d-grid col-2">
          <button type="button" class="btn btn-primary activaModal" data-bs-toggle="modal" data-bs-target="#modalSala" value="CREAR">Crear</button>
        </div>
      </div>
    </div>
  </div>
  <div id="salas">

  </div>
  <div class="modal fade" id="modalSala" tabindex="-1" aria-labelledby="crearEditar" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"  style="max-width: 620px;">
      <div class="modal-content background">
        <form class="modal-body d-grid gap-4 needs-validation" novalidate id="formSala">
          <h3 class="text-center" id="crearEditar">Crear sala</h3>
          <div class="d-grid col-11 mx-auto gap-2">
            <div class="row">
              <div class="d-grid col-6">
                <label for="capacidad" class="form-label">Capacidad</label>
                <input type="number" min="0" class="form-control" id="capacidad" name="capacidad" aria-describedby="CapacidadSala" required>
                <div class="invalid-feedback">
                  El campo no puede estar vacío.
                </div>
              </div>
              <div class="d-grid col-6">
                <label for="aforo" class="form-label">Aforo (en porcentaje)</label>
                <input type="number" min="0" max="100" class="form-control" id="aforo" name="aforo" aria-describedby="AforoSala" required>
                <div class="invalid-feedback">
                  El campo no puede estar vacío.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="d-grid col-6">
                <label for="costo" class="form-label">Costo</label>
                <input type="text" class="form-control" id="costo" name="costo" aria-describedby="CostoSala" required>
                <div class="invalid-feedback">
                  El campo no puede estar vacío.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6" style="height: fit-content;">
                <label for="annadirServicio" class="form-label">Añadir servicio</label>
                <div class="row">
                  <div class="col-10">
                    <select name="annadirServicio" id="annadirServicio" aria-describedby="AñadirServicio" class="form-control">
                      <option value="" disabled selected hidden>Añadir servicio</option>
                    </select>
                  </div>
                  <div class="col-2">
                    <button class="btn btn-primary" type="button" id="annadeServicio">+</button>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <h3 class="tituloDatos">Servicios:</h3>
                <div class="row justify-content-center" id="serviciosEscogidos">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label for="AñadirDíaCalendario" class="form-label">Añadir día de calendario</label>
                <div class="row">
                  <div>
                    <button type="button" class="btn btn-secondary" id="annadirCalendario" aria-describedby="AñadirDíaCalendario" data-bs-toggle="modal" data-bs-target="#modalCrearCalendario">Añadir</button>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <h3 class="tituloDatos">Días de calendario:</h3>
                <div id="listaDiasCalendario" class="listaDiasCalendarioSala">
                </div>
              </div>
            </div>
            <div class="d-grid col-11 mx-auto gap-2">
              <div class="row justify-content-end">
                <div class="d-grid col-2">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                </div>
                <div class="d-grid col-2">
                  <button type="submit" form="formSala" class="btn btn-primary" id="btnCrear">Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalCrearCalendario" tabindex="-1" aria-labelledby="crearCalendarioModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content background">
        <div class="modal-body d-grid gap-4">
          <h4 class="text-center" id="crearCalendarioModal">Crear calendario</h4>
          <form class="d-grid col-9 mx-auto gap-2 needs-validation" novalidate id="formCrearCalendario">
            <div>
              <label for="dia" class="form-label">Día</label>
              <input type="date" class="form-control" id="dia" name="dia" aria-describedby="Día" required>
              <div class="invalid-feedback">
                El campo no puede estar vacío.
              </div>
            </div>
            <div class="row">
              <div class="d-grid col-6">
                <label for="horaInicio" class="form-label">Hora inicio</label>
                <select name="horaInicio" id="horaInicio" class="form-control" aria-describedby="Hora Inicio" required>
                  <% for(let i = 1; i <= 23; i++) { %>
                    <% for(let j = 0; j < 59; j+=5) { %>
                      <% if(i > 12) { %>
                        <% if(j < 10) { %>
                          <option value="<%=i%>:<%=j%>"><%=i-12%>:0<%=j%>pm</option>
                        <% } else { %>
                          <option value="<%=i%>:<%=j%>"><%=i-12%>:<%=j%>pm</option>
                        <% } %>
                      <% } else { %>
                        <% if(i == 12) { %>
                          <% if(j < 10) { %>
                            <option value="<%=i%>:<%=j%>"><%=i%>:0<%=j%>md</option>
                          <% } else { %>
                            <option value="<%=i%>:<%=j%>"><%=i%>:<%=j%>md</option>
                          <% } %>
                        <% } else { %>
                          <% if(j < 10) { %>
                            <option value="<%=i%>:<%=j%>"><%=i%>:0<%=j%>am</option>
                          <% } else { %>
                            <option value="<%=i%>:<%=j%>"><%=i%>:<%=j%>am</option>
                          <% } %>
                        <% } %>
                      <% } %>    
                    <% } %>
                  <% } %>
                </select>
                <div class="invalid-feedback">
                  El campo no puede estar vacío.
                </div>
              </div>
              <div class="d-grid col-6">
                <label for="horaFinal" class="form-label">Hora inicio</label>
                <select name="horaFinal" id="horaFinal" class="form-control" aria-describedby="Hora Final" required>
                  <% for(let i = 1; i <= 23; i++) { %>
                    <% for(let j = 0; j < 59; j+=5) { %>
                      <% if(i > 12) { %>
                        <% if(j < 10) { %>
                          <option value="<%=i%>:<%=j%>"><%=i-12%>:0<%=j%>pm</option>
                        <% } else { %>
                          <option value="<%=i%>:<%=j%>"><%=i-12%>:<%=j%>pm</option>
                        <% } %>
                      <% } else { %>
                        <% if(i == 12) { %>
                          <% if(j < 10) { %>
                            <option value="<%=i%>:<%=j%>"><%=i%>:0<%=j%>md</option>
                          <% } else { %>
                            <option value="<%=i%>:<%=j%>"><%=i%>:<%=j%>md</option>
                          <% } %>
                        <% } else { %>
                          <% if(j < 10) { %>
                            <option value="<%=i%>:<%=j%>"><%=i%>:0<%=j%>am</option>
                          <% } else { %>
                            <option value="<%=i%>:<%=j%>"><%=i%>:<%=j%>am</option>
                          <% } %>
                        <% } %>
                      <% } %>    
                    <% } %>
                  <% } %>
                </select>
                <div class="invalid-feedback">
                  El campo no puede estar vacío.
                </div>
              </div>
            </div>
            <div>
              <label for="repeticion" class="form-label">Repetición</label>
              <select id="repeticion" name="repeticion" class="form-control" aria-describedby="Repeticion" required>
                <option value="CADASEMANADELMES">Cada semana del mes</option>
                <option value="TODOSLOSDIASDELMES">Todos los días del mes</option>
                <option value="NOSEREPITE">No se repite</option>
              </select>
              <div class="invalid-feedback">
                El campo no puede estar vacío.
              </div>
            </div>
            <div class="row justify-content-end">
              <div class="col-3">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
              </div>
              <div class="col-3">
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include('Mensaje.ejs'); %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../Js/Horas.js"></script>
  <script src="../Utilidades.js"></script>
  <script src="../Js/Mensaje.js"></script>
  <script src="../Servicios.js"></script>
  <script src="../Sala.js"></script>
  <script src="../Js/Sala.js"></script>
  <script src="../Js/Navegacion.js"></script>
</body>
</html>